Logging:
    default: INFO

General:
    Modus:         Box
    Time_Step_Mode: Fixed
    Delta_Time:    0.1
    End_Time:      200.0
    Randomseed:    -1
    Nevents:       1

Output:
    Particles:
        Format:          ["Oscar2013"]

Modi:
    Box:
        Length: 10.0
        Temperature: 0.15
        Initial_Condition: "thermal momenta"
        Start_Time: 0.0
        # The box is initialized with the particles listed in particles.txt
        # according to their expected thermal multiplicities at the termperature
        # specified above.
        Use_Thermal_Multiplicities: True
