#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
#
# Top-level build directory
#
*~
build
.directory
.push_default
*.diff
*.orig
*.rej
.DS_Store
3rdparty/pythia8215/lib
3rdparty/pythia8215/tmp
3rdparty/pythia8215/share
3rdparty/pythia8215/Makefile.inc
3rdparty/pythia8215/examples/Makefile.inc
.vscode
