Agnieszka Sorensen (Wergieluk) <agnieszka.sorensen@gmail.com>
Agnieszka Sorensen (Wergieluk) <agnieszka.sorensen@gmail.com> <awergieluk@gmail.com>
Agnieszka Sorensen (Wergieluk) <agnieszka.sorensen@gmail.com> <45217447+awergieluk@users.noreply.github.com>
Agnieszka Sorensen (Wergieluk) <agnieszka.sorensen@gmail.com> <45217447+amsorens@users.noreply.github.com>
Alessandro Sciarra <sciarra@itp.uni-frankfurt.de>
Alessandro Sciarra <sciarra@itp.uni-frankfurt.de> <asciarra@fias.uni-frankfurt.de>
Andy Goldschmidt <goldschmidt@fias.uni-frankfurt.de>
Andy Goldschmidt <goldschmidt@fias.uni-frankfurt.de> <agoldschmidt11@gmail.com>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <36138176+akschaefer@users.noreply.github.com>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <anna@Annas-MBP.fritz.box>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <anna@Annas-MacBook-Pro.local>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <anna@client149-on-sette.fias.uni-frankfurt.de>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <anna@client90-on-cinque.fias.uni-frankfurt.de>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <anna@cr-hafen-102-19.rz.uni-frankfurt.de>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <anna@cr-hafen-102-25.rz.uni-frankfurt.de>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <anna@cr-hafen-102-32.rz.uni-frankfurt.de>
Anna Schäfer <aschaefer@fias.uni-frankfurt.de> <aschaefer@users.fias.science>
Bjørn Bäuchle <baeuchle@th.physik.uni-frankfurt.de>
Carl B. Rosenkvist <rosenkvist@itp.uni-frankfurt.de>
Carl B. Rosenkvist <rosenkvist@itp.uni-frankfurt.de> Cazono <carl.b.rosenkvist@gmail.com>
Carl B. Rosenkvist <rosenkvist@itp.uni-frankfurt.de> <144144745+Carl-Rosenkvist@users.noreply.github.com>
Christian Holm Christensen <cholm@nbi.ku.dk>
Christian Holm Christensen <cholm@nbi.ku.dk> <cholmcc@gmail.com>
Damjan Mitrovic <mitrovic@fias.uni-frankfurt.de>
Damjan Mitrovic <mitrovic@fias.uni-frankfurt.de> <44577650+Woolitzer@users.noreply.github.com>
Damjan Mitrovic <mitrovic@fias.uni-frankfurt.de> <mitrovic@login02.cm.cluster>
Dmytro Oliinychenko <oliiny@fias.uni-frankfurt.de>
Dmytro Oliinychenko <oliiny@fias.uni-frankfurt.de> <40776086+doliinychenko@users.noreply.github.com>
Dmytro Oliinychenko <oliiny@fias.uni-frankfurt.de> <doliinychenko@lbl.gov>
Dmytro Oliinychenko <oliiny@fias.uni-frankfurt.de> <oliiny@cori09.nersc.gov>
Dmytro Oliinychenko <oliiny@fias.uni-frankfurt.de> <oliiny@uw.edu>
Dmytro Oliinychenko <oliiny@fias.uni-frankfurt.de> <oliiny@phys-intimp-19.phys.washington.edu>
Dmytro Oliinychenko <oliiny@fias.uni-frankfurt.de> <oliiny@n2232.hyak.local>
Feng Li <fengli@fias.uni-frankfurt.de>
Feng Li <fengli@fias.uni-frankfurt.de> <44196708+SleepyFermion@users.noreply.github.com>
Feng Li <fengli@fias.uni-frankfurt.de> <fengli@login02.cm.cluster>
Gabriele Inghirami <g.inghirami@gsi.de>
Gabriele Inghirami <g.inghirami@gsi.de> gabriele-inghirami <gabriele.inghirami@gmail.com>
Gabriele Inghirami <g.inghirami@gsi.de> <inghirami@fias.uni-frankfurt.de>
Gabriele Inghirami <g.inghirami@gsi.de> <71900834+gabriele-inghirami@users.noreply.github.com>
Hannah Elfner (Petersen) <elfner@itp.uni-frankfurt.de>
Hannah Elfner (Petersen) <elfner@itp.uni-frankfurt.de> <elfner@fias.uni-frankfurt.de>
Hannah Elfner (Petersen) <elfner@itp.uni-frankfurt.de> <33146073+elfnerhannah@users.noreply.github.com>
Hannah Elfner (Petersen) <elfner@itp.uni-frankfurt.de> <petersen@fias.uni-frankfurt.de>
Hendrik Roch <roch@fias.uni-frankfurt.de>
Hendrik Roch <roch@fias.uni-frankfurt.de> <hroch@physik.uni-bielefeld.de>
Hendrik Roch <roch@fias.uni-frankfurt.de> <42201737+Hendrik1704@users.noreply.github.com>
Jan Hammelmann <hammelmann@itp.uni-frankfurt.de>
Jan Hammelmann <hammelmann@itp.uni-frankfurt.de> <hammelmann@fias.uni-frankfurt.de>
Jan Hammelmann <hammelmann@itp.uni-frankfurt.de> <jan.hammelmann@live.de>
Jan Hammelmann <hammelmann@itp.uni-frankfurt.de> <33685583+JanHammelmann@users.noreply.github.com>
Jan Staudenmaier <staudenmaier@fias.uni-frankfurt.de>
Jan Staudenmaier <staudenmaier@fias.uni-frankfurt.de> <43040509+stdnmr@users.noreply.github.com>
Jan Staudenmaier <staudenmaier@fias.uni-frankfurt.de> <stdnmr@client2-on-cinque.fias.uni-frankfurt.de>
Janus Weil <weil@fias.uni-frankfurt.de>
Janus Weil <weil@fias.uni-frankfurt.de> <janus@gcc.gnu.org>
Jean-Bernard Rose <rose@fias.uni-frankfurt.de>
Jean-Bernard Rose <rose@fias.uni-frankfurt.de> <pollomanelmejor@yahoo.ca>
Jonas Rothermel <rothermel@fias.uni-frankfurt.de>
Jonas Rothermel <rothermel@fias.uni-frankfurt.de> <jonas.rothermel@hotmail.de>
Jonas Rothermel <rothermel@fias.uni-frankfurt.de> <rothermel@pop-os.localdomain>
Joseph Tindall <tindall@fias.uni-frankfurt.de>
Jussi Auvinen <auvinen@fias.uni-frankfurt.de>
Justin Mohs <jmohs@itp.uni-frankfurt.de>
Justin Mohs <jmohs@itp.uni-frankfurt.de> <mohs@fias.uni-frankfurt.de>
Justin Mohs <jmohs@itp.uni-frankfurt.de> <justinmohs@Justins-MacBook-Pro.local>
Justin Mohs <jmohs@itp.uni-frankfurt.de> <justinmohs@client104-on-cinque.fias.uni-frankfurt.de>
Leon Geiger <geiger@fias.uni-frankfurt.de>
Leon Geiger <geiger@fias.uni-frankfurt.de> <52000288+LeonGeiger@users.noreply.github.com>
Leon Geiger <geiger@fias.uni-frankfurt.de> <user@pop-os.localdomain>
Leon Geiger <geiger@fias.uni-frankfurt.de> LeonGeiger <geiger@fias.uni-frankfurt.de>
Longgang Pang <pang@fias.uni-frankfurt.de>
Longgang Pang <pang@fias.uni-frankfurt.de> <pang@users.fias.science>
Lucas Constantin <constantin@itp.uni-frankfurt.de>
Lucas Constantin <constantin@itp.uni-frankfurt.de> <constantin@users.itp.uni-frankfurt.de>
Lucas Constantin <constantin@itp.uni-frankfurt.de> LucasConstantin <102992751+LucasConstantin@users.noreply.github.com>
Lukas Prinz <lprinz@fias.uni-frankfurt.de>
Lukas Prinz <lprinz@fias.uni-frankfurt.de> <50808901+prinzlukas@users.noreply.github.com>
Manou Engel <mengel@itp.uni-frankfurt.de>
Manou Engel <mengel@itp.uni-frankfurt.de> engelmanou <engel.mp@outlook.de>
Markus Mayer <mayer@fias.uni-frankfurt.de>
Markus Mayer <mayer@fias.uni-frankfurt.de> <mayer@users.fias.science>
Matthias Kretz <kretz@compeng.uni-frankfurt.de>
Matthias Kretz <kretz@compeng.uni-frankfurt.de> <kretz@kde.org>
Maximilian Attems <attems@fias.uni-frankfurt.de>
Natey Kübler <kuebler@fias.uni-frankfurt.de>
Natey Kübler <kuebler@fias.uni-frankfurt.de> <44467404+nkblr@users.noreply.github.com>
Niels-Uwe F. Bastian <bastian.niels-uwe@uwr.edu.pl>
Niels-Uwe F. Bastian <bastian.niels-uwe@uwr.edu.pl> retarepo <55952002+retarepo@users.noreply.github.com>
Nikita Ermakov <sh1r4s3@mail.si-head.nl>
Niklas Ehlert <ehlert@fias.uni-frankfurt.de>
Niklas Götz <goetz@itp.uni-frankfurt.de>
Niklas Götz <goetz@itp.uni-frankfurt.de> <goetz@fias.uni-frankfurt.de>
Niklas Götz <goetz@itp.uni-frankfurt.de> <goetz.niklas@googlemail.com>
Nils Saß <nsass@itp.uni-frankfurt.de>
Nils Saß <nsass@itp.uni-frankfurt.de> <nsass@fias.uni-frankfurt.de>
Nils Saß <nsass@itp.uni-frankfurt.de> <90659054+nilssass@users.noreply.github.com>
Oscar Garcia-Montero <garcia@fias.uni-frankfurt.de>
Oscar Garcia-Montero <garcia@fias.uni-frankfurt.de> garcia <garcia@fias.uni-frankfurt.de>
Oscar Garcia-Montero <garcia@fias.uni-frankfurt.de> <56260616+thegarzo@users.noreply.github.com>
Renan Góes-Hirayama <hirayama@itp.uni-frankfurt.de>
Renan Góes-Hirayama <hirayama@itp.uni-frankfurt.de> <hirayama@fias.uni-frankfurt.de>
Renan Góes-Hirayama <hirayama@itp.uni-frankfurt.de> ren <hirayama@fias.uni-frankfurt.de>
Renan Góes-Hirayama <hirayama@itp.uni-frankfurt.de> <79031685+RenHirayama@users.noreply.github.com>
Robin Sattler <sattler@itp.uni-frankfurt.de>
Robin Sattler <sattler@itp.uni-frankfurt.de> <sattler@fias.uni-frankfurt.de>
Robin Sattler <sattler@itp.uni-frankfurt.de> robin-sattler <sattler@fias.uni-frankfurt.de>
Robin Sattler <sattler@itp.uni-frankfurt.de> <135334978+robin-sattler@users.noreply.github.com>
Sangwook Ryu <ryu@fias.uni-frankfurt.de>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <rsw1009@gmail.com>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <sangwookryu@Mac-c42c033ae081.fritz.box>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <sangwookryu@MacBook-Pro-2.fritz.box>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <sangwookryu@MacBook-Pro-4.fritz.box>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <sangwookryu@MacBook-Pro-4.local>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <sangwookryu@client217-on-cinque.fias.uni-frankfurt.de>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <sangwookryu@client9-on-sette.fias.uni-frankfurt.de>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <sangwookryu@cr-hafen-102-20.rz.uni-frankfurt.de>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <sangwookryu@cr-hafen-102-29.rz.uni-frankfurt.de>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <sangwookryu@cr-hafen-102-36.rz.uni-frankfurt.de>
Sangwook Ryu <ryu@fias.uni-frankfurt.de> <sangwookryu@cr-hafen-102-38.rz.uni-frankfurt.de>
Simon Spies <s.spies@gsi.de>
Simon Spies <s.spies@gsi.de> <simon.spies@sisesp.de>
Thomas Kehrenberg <kehrenberg@fias.uni-frankfurt.de>
Vinzent Steinberg <steinberg@fias.uni-frankfurt.de>
Vinzent Steinberg <steinberg@fias.uni-frankfurt.de> <Vinzent.Steinberg@gmail.com>
Zuzana Paulinyova <zuzana.paulinyova@upjs.sk>
Zuzana Paulinyova <zuzana.paulinyova@upjs.sk> <paulinyova@fias.uni-frankfurt.de>
Zuzana Paulinyova <zuzana.paulinyova@upjs.sk> <103072930+zpauliny@users.noreply.github.com>
